@import "reset";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: $black;
}
main {
  border: 1px solid red;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-container {
  border: 2px dashed yellow;
  height: 50%;
  overflow: scroll;
}
img {
  min-width: 100px;
}
